.DS_Store
Thumbs.db
Desktop.ini
!empty
project_files/*

npm-debug.log
node_modules/*
bower_components/*

public/content/languages/*
public/content/plugins/*
public/content/themes/*
public/content/upgrade/*
public/content/uploads/*

wp-groundwrk.TODO

config/env/local.php

vendor/*

src/content/themes/wp-groundwrk/lib/vendors/*

composer.lock